body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.table {
  border: 2px solid #47aae7;
  border-collapse: separate;
  border-spacing: 4px;
  cursor: default;
  table-layout: fixed;
}

.cell {
  background-color: #47aae7;
  padding: 0;
}

button {
  display: block;
  margin: 0;
  padding: 0;
  border: 2px solid #FFFFFF;
  position: absolute;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  box-sizing: content-box;
}

button:focus {
  outline: none;
}

.add-row,
.add-column {
  background-color: #f3a62f;
}

.add-row {
  margin-left: 8px;
}

.add-column {
  right: 0;
  margin-top: 8px;
}

.add-row:hover,
.add-column:hover {
  background-color: #f6c052;
}

.remove-row,
.remove-column {
  background-color: #b33122;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.remove-row {
  left: 0;
  margin-top: 4px;
}

.remove-column {
  top: 0;
  margin-left: 4px;
}

.remove-row:hover,
.remove-column:hover {
  background-color: #ca4c49;
}

.remove-row.visibility:hover,
.remove-column.visibility:hover {
  opacity: 1;
  visibility: visible;
}

.table:hover ~ .remove-row.visibility,
.table:hover ~ .remove-column.visibility {
  opacity: 1;
  visibility: visible;
}
